.Person {
  position: absolute;
  left: calc(50vw - var(--cell-size) / 2);
  top: calc(50vh - var(--cell-size) / 2);
  width: var(--cell-size);
  height: var(--cell-size);

  /* TODO: remove this in favor of a texture */
  background: aqua;
}

.development .Person {
  background: #fcc8;
}
