.CanvasView {
  height: inherit;
  width: 100vw;
  overflow: hidden;
  display: grid;
}

.CanvasView .overlay {
  width: 100vw;
  height: inherit;
}

.CanvasView .overlay,
.CanvasView canvas {
  grid-column-start: 1;
  grid-row-start: 1;
}

.CanvasView .background {
  background-color: var(--b1);
}
