<div class="pause-menu-wrapper">
  <h1>Pixelland</h1>
  <h2>Paused</h2>
  <div class="button-container">
    <button type="button" class="magic-button" data-action="resume">
      Resume
    </button>
    <button type="button" class="magic-button" data-action="save">Save</button>
    <button type="button" class="magic-button" data-action="load">Load</button>
    <button type="button" class="magic-button" data-action="settings" disabled>
      Settings
    </button>
    <button type="button" class="magic-button" data-action="exit">Exit</button>
  </div>
</div>
