.PauseMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--darken);
}

.PauseMenu .pause-menu-wrapper {
  display: flex;
  align-items: center;
  row-gap: var(--double-size);
  flex-direction: column;
}

.PauseMenu .button-container {
  width: 100%;
  display: flex;
  align-items: center;
  row-gap: var(--half-size);
  flex-direction: column;
}

.PauseMenu button {
  width: 100%;
  padding: var(--size);
  font-size: var(--size);
}
