/*
 * All elements would are housed under a container with the className equal
 * to component name (e.g. .MenuView and .ShipPlacementView)
 */

.MenuView {
  display: flex;
  flex-direction: column;
  row-gap: var(--size);
}

.MenuView button {
  padding: var(--size);
}

.MenuView h1 {
  background: white;
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

