<div class="map-setup-view-wrapper">
  <h1>Pixelland</h1>

  <h2>Choose your map</h2>

  <div class="list-of-maps">
    <button
      type="button"
      data-type="rainbowland"
      style="background-image: url('/static/map-previews/rainbowland.jpeg')"
    >
      <span>Rainbowland</span>
    </button>
    <button
      type="button"
      data-type="minecraft"
      style="background-image: url('/static/map-previews/minecraft.png')"
    >
      <span>Minecraft</span>
    </button>
    <button
      type="button"
      data-type="terraria"
      style="background-image: url('/static/map-previews/terraria.jpeg')"
      disabled
    >
      <span>Terraria</span>
    </button>
    <button
      type="button"
      data-type="stardew-valley"
      style="background-image: url('/static/map-previews/stardew-valley.jpeg')"
      disabled
    >
      <span>Stardew Valley</span>
    </button>
    <button
      type="button"
      data-type="minecraft"
      style="background-image: url('/static/map-previews/pixel-land.jpeg')"
      disabled
    >
      <span>Pixelland</span>
    </button>
  </div>
</div>
